<h4>Acceso de usuario</h4>

<hr>
<br>
{{#each errors as |error|}}
	{{error.detail}}
	<br>
{{/each}}
<br>

<form {{action "authenticate" on="submit"}}>
	<div id="registration-form">
		<div class="form-column">
			<div class="field">
				{{input value=email placeholder="Email"}}
			</div>

			<div class="field">
				{{input value=password type="password" placeholder="Contraseña"}}
			</div>
		</div>

		<div class="h-separator"></div>

		<button>Log in</button>
	</div>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
